@page "/Dashboard/Chats/Requests"
@layout Layout.Chats
@inject IJSRuntime JS
@inject NavigationManager NavigationManager
@using Chat

<article class="flex flex-column items-center !h-[723px] mr-auto !overflow-y-hidden ">
    <div class="flex items-center">
        <h2 class="mb-0 !text-[40px] montserrat-semibold !mr-[15px]">Pending Requests</h2>
        <div class="relative flex items-center">
            <img src="images/Chats-Pending-Requests-Icon-Title.png" class="w-[72px] !h-[67px]" alt="">
            <h3 class="hind-madurai-semibold !text-[24px] absolute top-[10px] left-[5px] !text-[#fff] @(Chat.Requests.Count <= 9 ? "!left-[19px]": Chat.Requests.Count <= 99 ? "!left-[12px]" : "")">@Chat.Requests.Count</h3>
        </div>
    </div>
    <img src="images/Divider-Blue-Medium.png" alt="No Requests Found" class="mt-[10px] !mb-[25px]">
    <div class="flex flex-column overflow-y-auto overflow-x-hidden overscroll-contain h-[460px]" style="scrollbar-width: none;">
        @if(Chat.Requests.Count > 0){
            @foreach ((var result, var index) in Chat.Requests.Select((value, i) => (value, i)))
            {
                <Result 
                    Username="@result.Username" 
                    NamePlateClass="@("!bg-[#E8E8E8]")" 
                    ProfilePicture="@result.ProfilePicture" 
                    ChatID="@result.id" 
                    IsSelected="@result.id"
                    IsRequest=true
                    IsSearchResult=false
                    hasLink=false
                />
            }
        }
        else {
            <img src="images/No-Users-Found.png" alt="No Results Found" class="w-[365px] h-[104px] mx-auto mt-[25px]">
        }
    </div>
    <button class="bg-[#F1DDBF] w-[135px] h-[48px] !rounded-[10px] !mt-auto !mb-[40px] !ml-[5px] !mr-auto !text-[26px] montserrat-semibold hover:scale-[1.05] text-black" @onclick="@(() => NavigationManager.NavigateTo("/Dashboard/Chats"))">Close</button>
</article>

@code {
}